<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>海天精工任务调度系统</title>
		<link rel="stylesheet" href="/rs/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/rs/lib/bootstrap-table/bootstrap-table.min.css" />
		<link rel="stylesheet" href="/rs/lib/open-iconic/font/css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="/rs/css/frame.css" />
	</head>

	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#">海天精工任务调度系统</a>
			</nav>
			<div class="row" style="margin-top: 20px;">
				<div class="col-sm-3">
					<div class="card border-success mb-3" style="max-width: 18rem;">
						<div class="card-header">
							<p class="lead">起始站点选择</p>
						</div>
						<div class="card-body text-success">
							<div id="start_site">
								<!-- A 站-->
								<div class="card" id="start_A">
									<!-- CollapseA header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseA">
								          起点站
								        </button>
								      </h5>
									</div>
									<div id="collapseA" class="collapse show">
										<!-- CollapseA body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action">A1</button>
												<button type="button" class="list-group-item list-group-item-action">A2</button>
												<button type="button" class="list-group-item list-group-item-action">A3</button>
												<button type="button" class="list-group-item list-group-item-action">A4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- B 站-->
								<div class="card" id="start_B">
									<!-- CollapseB header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseB">
								      1500站
								        </button>
								      </h5>
									</div>
									<div id="collapseB" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action">B1</button>
												<button type="button" class="list-group-item list-group-item-action">B2</button>
												<button type="button" class="list-group-item list-group-item-action">B3</button>
												<button type="button" class="list-group-item list-group-item-action">B4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- C 站-->
								<div class="card" id="start_C">
									<!-- CollapseC header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseC">
								          立磨站
								        </button>
								      </h5>
									</div>
									<div id="collapseC" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action">C2</button>
												<button type="button" class="list-group-item list-group-item-action">C3</button>
												<button type="button" class="list-group-item list-group-item-action">C4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- D 站-->
								<div class="card" id="start_D">
									<!-- CollapseD header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseD">
								          小立加站
								        </button>
								      </h5>
									</div>
									<div id="collapseD" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action">D1</button>
												<button type="button" class="list-group-item list-group-item-action">D2</button>
												<button type="button" class="list-group-item list-group-item-action">D3</button>
												<button type="button" class="list-group-item list-group-item-action">D4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Z 站-->
								<div class="card" id="start_Z">
									<!-- CollapseZ header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZ">
								           终点站
								        </button>
								      </h5>
									</div>
									<div id="collapseZ" class="collapse show">
										<!-- CollapseZ body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action">Z1</button>
												<button type="button" class="list-group-item list-group-item-action">Z2</button>
												<button type="button" class="list-group-item list-group-item-action">Z3</button>
												<button type="button" class="list-group-item list-group-item-action">Z4</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-3">

					<div class="card border-success mb-3" style="max-width: 18rem;">
						<div class="card-header">
							<p class="lead">目标站点选择</p>
						</div>
						<div class="card-body text-success">
							<div id="end_site">
								<!-- A 站-->
								<div class="card" id="end_A">
									<!-- CollapseA header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAA">
								           起点站
								        </button>
								      </h5>
									</div>
									<div id="collapseAA" class="collapse show">
										<!-- CollapseA body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action" id="A1">A1</button>
												<button type="button" class="list-group-item list-group-item-action" id="A2">A2</button>
												<button type="button" class="list-group-item list-group-item-action" id="A3">A3</button>
												<button type="button" class="list-group-item list-group-item-action" id="A4">A4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- B 站-->
								<div class="card" id="end_B">
									<!-- CollapseB header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseBB">
								      1500站
								        </button>
								      </h5>
									</div>
									<div id="collapseBB" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action" id="B1">B1</button>
												<button type="button" class="list-group-item list-group-item-action" id="B2">B2</button>
												<button type="button" class="list-group-item list-group-item-action" id="B3">B3</button>
												<button type="button" class="list-group-item list-group-item-action" id="B4">B4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- C 站-->
								<div class="card" id="end_C">
									<!-- CollapseC header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCC">
								           立磨站
								        </button>
								      </h5>
									</div>
									<div id="collapseCC" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action" id="C2">C2</button>
												<button type="button" class="list-group-item list-group-item-action" id="C3">C3</button>
												<button type="button" class="list-group-item list-group-item-action" id="C4">C4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- D 站-->
								<div class="card" id="end_D">
									<!-- CollapseD header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDD">
								           小立加站
								        </button>
								      </h5>
									</div>
									<div id="collapseDD" class="collapse show">
										<!-- CollapseB body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action" id="D1">D1</button>
												<button type="button" class="list-group-item list-group-item-action" id="D2">D2</button>
												<button type="button" class="list-group-item list-group-item-action" id="D3">D3</button>
												<button type="button" class="list-group-item list-group-item-action" id="D4">D4</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Z 站-->
								<div class="card" id="end_Z">
									<!-- CollapseZ header-->
									<div class="card-header">
										<h5 class="mb-0">
								        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZZ">
								           终点站
								        </button>
								      </h5>
									</div>
									<div id="collapseZZ" class="collapse show">
										<!-- CollapseZ body-->
										<div class="card-body">
											<div class="list-group mb8">
												<button type="button" class="list-group-item list-group-item-action" id="Z1">Z1</button>
												<button type="button" class="list-group-item list-group-item-action" id="Z2">Z2</button>
												<button type="button" class="list-group-item list-group-item-action" id="Z3">Z3</button>
												<button type="button" class="list-group-item list-group-item-action" id="Z4">Z4</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<h2 class="display-4 mb-5">AGV前置任务</h2>
					<div id="pre_task">
						<button id="0A-0A" type="button" class="btn btn-outline-success btn-lg">调头</button>
						<button id="0A-0B" type="button" class="btn btn-outline-success btn-lg">A站到B站</button>
						<button id="0A-0C" type="button" class="btn btn-outline-success btn-lg">A站到C站</button>
						<button id="0A-0D" type="button" class="btn btn-outline-success btn-lg">A站到D站</button>
						<button id="0A-0Z" type="button" class="btn btn-outline-success btn-lg">A站到Z站</button>
					</div>
					<hr />
					<h2 class="display-4 mb-5">起始站点 -> 目标站点</h2>
					<div class="alert alert-success" role="alert" id="task">
						您当前尚未选择起始站点与目标站点
					</div>
					<input class="btn btn-outline-primary" id="submit_task" value="提交任务">
					<input class="btn btn-outline-primary" id="clear_task" value="重新选择">
					<hr />
					<h2 class="display-4 mb-5">任务状态</h2>
					<div class="alert alert-success">
						<h4 class="alert-heading">AGV当前任务：<span id="current_task" class="text-danger">待定</span></h4>
					</div>
					<div class="alert alert-success">
						<h4 class="alert-heading">AGV任务状态：<span id="current_status" class="text-danger">待定</span></h4>
					</div>
					<div class="alert alert-success">
						<h4 class="alert-heading">AGV电量：<span id="current_battery" class="text-danger">待定</span></h4>
					</div>
					<hr />
					<h2 class="display-4 mb-5">其他操作</h2>
					<button class="btn btn-outline-danger" id="end_task">暂停任务</button>
					<button class="btn btn-outline-danger" id="rec_task">恢复任务</button>
					<button class="btn btn-outline-danger" id="reboot_task">系统恢复</button>
					<button class="btn btn-outline-danger" id="change_state">站点库存状态管理</button>
					<hr />
					<footer class="blockquote-footer">系统恢复：AGV已经没有任务在运行，但是系统却不能发送任务，此时系统可能出现故障，执行 <span class="text-danger">系统恢复</span> 以保证系统恢复正常</footer>
				</div>
			</div>
		</div>
		<script src="/rs/lib/jquery.min.js"></script>
		<script src="/rs/lib/popper.min.js"></script>
		<script src="/rs/lib/jsplumb.min.js"></script>
		<script src="/rs/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="/rs/lib/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="/rs/lib/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
		<script src="/rs/lib/layer/layer.js"></script>
		<script src="/rs/js/com.js"></script>
		<script src="/rs/js/frame.js"></script>
	</body>

</html>