.mb8 {
	margin-bottom: 8px;
}

#start_site,
#end_site div {
	text-align: center;
}

body .demo-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .demo-class .layui-layer-btn a{background:#f8f9fa;}
body .demo-class .layui-layer-btn .layui-layer-btn1{background:#f8f9fa;}